.header{
    background-color: var(--gray-800);
    display:flex ;
    justify-content: center;
    height: 80px;
    padding: 1.25rem;
    gap: 0.5rem;

}
.header img{
    height: 2rem;
}

.header strong{
    padding: 0.350rem;
}